body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
}

#gallery {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    z-index: 1;
    display: block;
}

#myName {
    Z-index: 2;
    display: block;
    margin-top: 35.555%;
    margin-left: 5%;
    position: absolute;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: rgb(255, 137, 94);
}

#hr {
    margin-top: 3%;
}

#contact {
    margin-top: 7%;
    text-align: center;
}

#myInfo {
    margin-top: 1%;
    margin-bottom: 3%;
    text-align: center;
}

footer {
    position: sticky;
    border-top: 2px solid black;
    color: black;
    background-color: grey;
    padding: 2%;
    margin-top: 3%;
    font-size: 1.3em;
}

#smarta, 
#trivia,
#limbo {
    text-align: center;
}