body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
}

#gallery {
    text-align: center;
}

#hr {
    margin-top: 3%;
}

#contact {
    margin-top: 7%;
    text-align: center;
}

#myInfo {
    margin-top: 1%;
    margin-bottom: 3%;
    text-align: center;
}

footer {
    position: sticky;
    border-top: 2px solid black;
    color: black;
    background-color: grey;
    padding: 2%;
    margin-top: 3%;
    font-size: 1.3em;
}